[include fluidd.cfg]
[include V0Display.cfg]

[printer]
kinematics: corexy
max_velocity: 200
max_accel: 2000
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 6.0

[include manta-m5p.cfg]
[include picobilical.cfg]
[include homing.cfg]
[include macros.cfg]

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

