#####################################################################
#   Z Stepper Settings
#####################################################################

#############
## Z0 Stepper - Front Left
##  Connected to MOTOR_4
[stepper_z]
step_pin: PC6
dir_pin: !PC7
enable_pin: !PA9
endstop_pin: ^PC3
rotation_distance: 8
microsteps: 16
full_steps_per_rotation: 200
position_min: -2.5
position_max: 150
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_endstop: 3.0 

[tmc2209 stepper_z]
uart_pin: PB10
interpolate: True
run_current: 0.7       # Max 1.0 * 0.707 = 0.707

[autotune_tmc stepper_x]
motor: ldo-42sth25-1004cl200et

## Z1 Stepper - Rear Z Motor configuration
## ----------------------------------------
[stepper_z1]
step_pin: PB12
dir_pin: !PB11
enable_pin: !PA8

rotation_distance: 8    # For T8x8 integrated lead screw
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree


## Z1 Stepper UART config
## ----------------------------------------
[tmc2209 stepper_z1]
uart_pin: PB2
interpolate: True
run_current: 0.7       # Max 1.0 * 0.707 = 0.707

[autotune_tmc stepper_x]
motor: ldo-42sth25-1004cl200et


## Z2 Stepper - Right Z Motor configuration
## ----------------------------------------
[stepper_z2]
step_pin: PB0
dir_pin: !PB1
enable_pin: !PC4

rotation_distance: 8    # For T8x8 integrated lead screw
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree


## Z2 Stepper UART config
## ----------------------------------------
[tmc2209 stepper_z2]
uart_pin: PA6
interpolate: True
run_current: 0.7       # Max 1.0 * 0.707 = 0.707

[autotune_tmc stepper_x]
motor: ldo-42sth25-1004cl200et
